html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: url('https://s3.amazonaws.com/images.wpr.com/flag-pages/png1000/za.png') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 25px;
    line-height: 1.3em;
    margin: 0;
}


/* Home page */

h1,
h2 {
    text-align: center;
    color: gold;
    font-size: 50px;
}

p {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;
    margin-top: 100px;
}

.btn {
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


/* nav bar */

#nav {
    display: contents;
}

#nav ul {
    list-style: none;
}

#nav li {
    display: inline;
    font-size: 20px;
    border: 1px solid gold;
    padding: 10px 10px;
}

#nav a {
    text-decoration: none;
}

.links {
    padding-right: 25px;
}


/* photo page */

h2 {
    padding: 5%;
}

div {
    margin-top: 50px;
    color: blue;
}

img {
    width: 250px;
    /* object-fit: scale-down; */
}

.pic {
    padding-top: 28px;
}

#city {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

#city p {
    cursor: pointer;
}

.bloe,
.cape,
.pre {
    display: none;
}

.pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* facts page */

.vfact {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}

.infor~p {
    color: red;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 780px) {
    p {
        text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
    }
    .vfact {
        display: flex;
        flex-direction: column;
    }
    #city {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}